body {
  padding: 5% 10%;
  font-size: 2rem;
}

ol {
  list-style-type: none;
  padding: 0;
}

ul {
  list-style-type: square;
  text-align: center;
  list-style-position: inside;
  color: blue;
  line-height: 1.4;
  /* list-style-image: url('../images'); */

}

ul li:nth-child(3) {
  color: red;
}

ul ::marker {
  color: red;
  font-size: 1em;
  content: "only $5 >> ";
}