*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
}

main {
  background-color: aqua;
  width: 50%;
}

p {
  background-color: lightgray;
  margin: 100px 50px;
}

.opposite {
  display: inline-block;
  background-color: #333;
  color: whitesmoke;
  padding: 1rem;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0.5rem;
  text-align: right;
  background-color: #000;
  margin: 0;
}

li {
  display: inline-block;
  margin-inline: 0.5rem ;
}

li a {
  color: white;
  text-decoration: none;
}

li a:hover, li a:focus {
  text-decoration: underline;
}