* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1.5rem sans-serif;
  min-height: 100vh;
  background-color: #475;
  /* background-image: radial-gradient(red, blue, green, pink, grey, purple, white); */
  display: flex;
  flex-direction: column;
}

header,
nav,
main,
footer {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}

header,
footer {
  position: sticky;
  background-image: linear-gradient(blue, green, purple, gray);
  color: white;
  z-index: 10;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

nav {
  background-color: #fff;
  color: black;
  padding: 0.5rem;
  border-bottom: 2px solid #000;
}

main {
  flex-grow: 1;
}

/* ========== SMALL (≥576px) ========== */
@media screen and (min-width: 576px) {
  body {
    background-color: green;
    /* background-image: radial-gradient(white, green); */
  }

  nav {
    display: none;
  }
}

/* ========== MEDIUM (≥768px) ========== */
@media screen and (min-width: 768px) {
  body {
    background-color: gold;
  }
}

/* ========== LARGE (≥992px) ========== */
@media screen and (min-width: 992px) {
  body {
    background-color: firebrick;
  }
}

/* ========== MOBILE LANDSCAPE ONLY ========== */
@media screen and (max-width: 768px) and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  body {
    background-color: dodgerblue;
  }

  h1,
  h2 {
    font-size: 1.5rem;
  }
}