* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 75px auto 75px;
  grid-template-areas: "hd hd hd hd hd hd hd"
    "el el el el el el el"
    "mn mn mn mn mn mn mn"
    "ft ft ft ft ft ft ft";
}

.el {
  background-color: rebeccapurple;
  color: #fff;
  display: grid;
  place-content: center;
}

.header {
  grid-area: hd;
}

.sidebar {
  grid-area: sb;
  background-color: #00f;
}

.container {
  min-height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(150px, auto);
  gap: 1em 0.5em;
  align-items: center;
  justify-content: left;
  place-content: end center;
}

.box:first-child {
  background-color: blue;
  grid-column: 1 / 4;
  grid-row: 1 / 4;
}

.box:nth-child(2) {
  background-color: purple;
  grid-column: 1/5;
  grid-row: 3 / 4;
}

.box {
  /* min-width: 100px; */
  height: 100px;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  flex-basis: 200px;
}

.box:nth-child(2) {
  flex-shrink: 2;
  order: 1;
}

