body {
  padding: 10%;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* input,
button {
  font: inherit;
} */

p {
  text-indent: 2em;
  font-weight: 900;
}

a:visited {
  color: red;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: blue;
}



a:hover {
  color: dodgerblue;
}

a:active {
  color: red;
}